{% extends "relatori/view.html" %}
{% block view_template %}

<table class="form">
    
    <tr>
        <td class="logo"><img src="/static/images/MoH.jpg" class="logo" /></td>
        <td><div class="spacer"></div></td>
        <td colspan="7" class="border2"><h1>REPÚBLICA DEMOCRÁTICA DE TIMOR-LESTE<br />MINISTÉRIO DA SAÚDE</h1></td>
        <td><div class="spacer"></div></td>
        <td colspan="4" class="border2"><h1>FORMULARIU-6</h1><br />
            Fulan:
            <input type="text" name="fulan" size="2" value="{{ fulan }}" class="{{ fulan_style }} ">
            Tinan:
            <input type="text" name="tinan" size="4" value="{{ tinan }}" class="{{ tinan_style }}">
        </td>
    </tr>
    
    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

    
<table class="form border2">
    
    <tr class="border">
        <td><b>Distritu:</b> {{ distritu }}
            <input type='hidden' name='district' value='{{ distritu }}'>
        </td>
        <td><b>Subdistritu:</b> {{ subdistritu }}
            <input type='hidden' name='subdistrict' value='{{ subdistritu }}'>
        </td>
        <td><b>Fatin:</b> {{ fatin }} 
            <input type='hidden' name='village' value='{{ fatin }}'>
        </td>
    </tr>

    <tr class="border">
        <td colspan="3"><b>Fasilidade:</b> {{ facility }} 
            <input type='hidden' name='name' value='{{ facility.id }}'> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Code:</b> {{ code }}
        </td>
    </tr>
    
</table>

<table class="form">

    <tr>
        <td colspan="23"><div class="spacer"></div></td>
    </tr>

    <tr>
        <td colspan="23"><h2>PROMOSAUN SAUDE</h2></td>
    </tr>

    <tr>
        <td colspan="23"><h2>LISTA SESAUN NEBE HATO'O</h3></td>
    </tr>

    <tr>
        <td colspan="23"><div class="spacer"></div></td>
    </tr>

    <tr>
        <td colspan="23"><h3>Educasaun Saude Iha Kumunidade</h3></td>
    </tr>
    
</table>

<table class="form border2">
    
    <tr class="border green center bold">
        <td rowspan="2">Sucu/SISCa</td>
        <td rowspan="2">Total Sessaun Hala'o</td>
        <td colspan="7">Edukasaun Saude Ema ba Ema</td>
        <td colspan="7">Edukasaun Saude Liu hosi IEC Material</td>
        <td colspan="7">Edukasaun Saude Liu hosi Media</td>
    </tr>

    <tr class="border green center bold small">
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.0 }}
        </td>
        <td>
            {{ cells.1 }}
        </td>
        <td>
            {{ cells.2 }}
        </td>
        <td>
            {{ cells.3 }}
        </td>
        <td>
            {{ cells.4 }}
        </td>
        <td>
            {{ cells.5 }}
        </td>
        <td>
            {{ cells.6 }}
        </td>
        <td>
            {{ cells.7 }}
        </td>
        <td>
            {{ cells.8 }}
        </td>
        <td>
            {{ cells.9 }}
        </td>
        <td>
            {{ cells.10 }}
        </td>
        <td>
            {{ cells.11 }}
        </td>
        <td>
            {{ cells.12 }}
        </td>
        <td>
            {{ cells.13 }}
        </td>
        <td>
            {{ cells.14 }}
        </td>
        <td>
            {{ cells.15 }}
        </td>
        <td>
            {{ cells.16 }}
        </td>
        <td>
            {{ cells.17 }}
        </td>
        <td>
            {{ cells.18 }}
        </td>
        <td>
            {{ cells.19 }}
        </td>
        <td>
            {{ cells.20 }}
        </td>
        <td>
            {{ cells.21 }}
        </td>
        <td>
            {{ cells.22 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.23 }}
        </td>
        <td>
            {{ cells.24 }}
        </td>
        <td>
            {{ cells.25 }}
        </td>
        <td>
            {{ cells.26 }}
        </td>
        <td>
            {{ cells.27 }}
        </td>
        <td>
            {{ cells.28 }}
        </td>
        <td>
            {{ cells.29 }}
        </td>
        <td>
            {{ cells.30 }}
        </td>
        <td>
            {{ cells.31 }}
        </td>
        <td>
            {{ cells.32 }}
        </td>
        <td>
            {{ cells.33 }}
        </td>
        <td>
            {{ cells.34 }}
        </td>
        <td>
            {{ cells.35 }}
        </td>
        <td>
            {{ cells.36 }}
        </td>
        <td>
            {{ cells.37 }}
        </td>
        <td>
            {{ cells.38 }}
        </td>
        <td>
            {{ cells.39 }}
        </td>
        <td>
            {{ cells.40 }}
        </td>
        <td>
            {{ cells.41 }}
        </td>
        <td>
            {{ cells.42 }}
        </td>
        <td>
            {{ cells.43 }}
        </td>
        <td>
            {{ cells.44 }}
        </td>
        <td>
            {{ cells.45 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.46 }}
        </td>
        <td>
            {{ cells.47 }}
        </td>
        <td>
            {{ cells.48 }}
        </td>
        <td>
            {{ cells.49 }}
        </td>
        <td>
            {{ cells.50 }}
        </td>
        <td>
            {{ cells.51 }}
        </td>
        <td>
            {{ cells.52 }}
        </td>
        <td>
            {{ cells.53 }}
        </td>
        <td>
            {{ cells.54 }}
        </td>
        <td>
            {{ cells.55 }}
        </td>
        <td>
            {{ cells.56 }}
        </td>
        <td>
            {{ cells.57 }}
        </td>
        <td>
            {{ cells.58 }}
        </td>
        <td>
            {{ cells.59 }}
        </td>
        <td>
            {{ cells.60 }}
        </td>
        <td>
            {{ cells.61 }}
        </td>
        <td>
            {{ cells.62 }}
        </td>
        <td>
            {{ cells.63 }}
        </td>
        <td>
            {{ cells.64 }}
        </td>
        <td>
            {{ cells.65 }}
        </td>
        <td>
            {{ cells.66 }}
        </td>
        <td>
            {{ cells.67 }}
        </td>
        <td>
            {{ cells.68 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.69 }}
        </td>
        <td>
            {{ cells.70 }}
        </td>
        <td>
            {{ cells.71 }}
        </td>
        <td>
            {{ cells.72 }}
        </td>
        <td>
            {{ cells.73 }}
        </td>
        <td>
            {{ cells.74 }}
        </td>
        <td>
            {{ cells.75 }}
        </td>
        <td>
            {{ cells.76 }}
        </td>
        <td>
            {{ cells.77 }}
        </td>
        <td>
            {{ cells.78 }}
        </td>
        <td>
            {{ cells.79 }}
        </td>
        <td>
            {{ cells.80 }}
        </td>
        <td>
            {{ cells.81 }}
        </td>
        <td>
            {{ cells.82 }}
        </td>
        <td>
            {{ cells.83 }}
        </td>
        <td>
            {{ cells.84 }}
        </td>
        <td>
            {{ cells.85 }}
        </td>
        <td>
            {{ cells.86 }}
        </td>
        <td>
            {{ cells.87 }}
        </td>
        <td>
            {{ cells.88 }}
        </td>
        <td>
            {{ cells.89 }}
        </td>
        <td>
            {{ cells.90 }}
        </td>
        <td>
            {{ cells.91 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.92 }}
        </td>
        <td>
            {{ cells.93 }}
        </td>
        <td>
            {{ cells.94 }}
        </td>
        <td>
            {{ cells.95 }}
        </td>
        <td>
            {{ cells.96 }}
        </td>
        <td>
            {{ cells.97 }}
        </td>
        <td>
            {{ cells.98 }}
        </td>
        <td>
            {{ cells.99 }}
        </td>
        <td>
            {{ cells.100 }}
        </td>
        <td>
            {{ cells.101 }}
        </td>
        <td>
            {{ cells.102 }}
        </td>
        <td>
            {{ cells.103 }}
        </td>
        <td>
            {{ cells.104 }}
        </td>
        <td>
            {{ cells.105 }}
        </td>
        <td>
            {{ cells.106 }}
        </td>
        <td>
            {{ cells.107 }}
        </td>
        <td>
            {{ cells.108 }}
        </td>
        <td>
            {{ cells.109 }}
        </td>
        <td>
            {{ cells.110 }}
        </td>
        <td>
            {{ cells.111 }}
        </td>
        <td>
            {{ cells.112 }}
        </td>
        <td>
            {{ cells.113 }}
        </td>
        <td>
            {{ cells.114 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.115 }}
        </td>
        <td>
            {{ cells.116 }}
        </td>
        <td>
            {{ cells.117 }}
        </td>
        <td>
            {{ cells.118 }}
        </td>
        <td>
            {{ cells.119 }}
        </td>
        <td>
            {{ cells.120 }}
        </td>
        <td>
            {{ cells.121 }}
        </td>
        <td>
            {{ cells.122 }}
        </td>
        <td>
            {{ cells.123 }}
        </td>
        <td>
            {{ cells.124 }}
        </td>
        <td>
            {{ cells.125 }}
        </td>
        <td>
            {{ cells.126 }}
        </td>
        <td>
            {{ cells.127 }}
        </td>
        <td>
            {{ cells.128 }}
        </td>
        <td>
            {{ cells.129 }}
        </td>
        <td>
            {{ cells.130 }}
        </td>
        <td>
            {{ cells.131 }}
        </td>
        <td>
            {{ cells.132 }}
        </td>
        <td>
            {{ cells.133 }}
        </td>
        <td>
            {{ cells.134 }}
        </td>
        <td>
            {{ cells.135 }}
        </td>
        <td>
            {{ cells.136 }}
        </td>
        <td>
            {{ cells.137 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.138 }}
        </td>
        <td>
            {{ cells.139 }}
        </td>
        <td>
            {{ cells.140 }}
        </td>
        <td>
            {{ cells.141 }}
        </td>
        <td>
            {{ cells.142 }}
        </td>
        <td>
            {{ cells.143 }}
        </td>
        <td>
            {{ cells.144 }}
        </td>
        <td>
            {{ cells.145 }}
        </td>
        <td>
            {{ cells.146 }}
        </td>
        <td>
            {{ cells.147 }}
        </td>
        <td>
            {{ cells.148 }}
        </td>
        <td>
            {{ cells.149 }}
        </td>
        <td>
            {{ cells.150 }}
        </td>
        <td>
            {{ cells.151 }}
        </td>
        <td>
            {{ cells.152 }}
        </td>
        <td>
            {{ cells.153 }}
        </td>
        <td>
            {{ cells.154 }}
        </td>
        <td>
            {{ cells.155 }}
        </td>
        <td>
            {{ cells.156 }}
        </td>
        <td>
            {{ cells.157 }}
        </td>
        <td>
            {{ cells.158 }}
        </td>
        <td>
            {{ cells.159 }}
        </td>
        <td>
            {{ cells.160 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.161 }}
        </td>
        <td>
            {{ cells.162 }}
        </td>
        <td>
            {{ cells.163 }}
        </td>
        <td>
            {{ cells.164 }}
        </td>
        <td>
            {{ cells.165 }}
        </td>
        <td>
            {{ cells.166 }}
        </td>
        <td>
            {{ cells.167 }}
        </td>
        <td>
            {{ cells.168 }}
        </td>
        <td>
            {{ cells.169 }}
        </td>
        <td>
            {{ cells.170 }}
        </td>
        <td>
            {{ cells.171 }}
        </td>
        <td>
            {{ cells.172 }}
        </td>
        <td>
            {{ cells.173 }}
        </td>
        <td>
            {{ cells.174 }}
        </td>
        <td>
            {{ cells.175 }}
        </td>
        <td>
            {{ cells.176 }}
        </td>
        <td>
            {{ cells.177 }}
        </td>
        <td>
            {{ cells.178 }}
        </td>
        <td>
            {{ cells.179 }}
        </td>
        <td>
            {{ cells.180 }}
        </td>
        <td>
            {{ cells.181 }}
        </td>
        <td>
            {{ cells.182 }}
        </td>
        <td>
            {{ cells.183 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.184 }}
        </td>
        <td>
            {{ cells.185 }}
        </td>
        <td>
            {{ cells.186 }}
        </td>
        <td>
            {{ cells.187 }}
        </td>
        <td>
            {{ cells.188 }}
        </td>
        <td>
            {{ cells.189 }}
        </td>
        <td>
            {{ cells.190 }}
        </td>
        <td>
            {{ cells.191 }}
        </td>
        <td>
            {{ cells.192 }}
        </td>
        <td>
            {{ cells.193 }}
        </td>
        <td>
            {{ cells.194 }}
        </td>
        <td>
            {{ cells.195 }}
        </td>
        <td>
            {{ cells.196 }}
        </td>
        <td>
            {{ cells.197 }}
        </td>
        <td>
            {{ cells.198 }}
        </td>
        <td>
            {{ cells.199 }}
        </td>
        <td>
            {{ cells.200 }}
        </td>
        <td>
            {{ cells.201 }}
        </td>
        <td>
            {{ cells.202 }}
        </td>
        <td>
            {{ cells.203 }}
        </td>
        <td>
            {{ cells.204 }}
        </td>
        <td>
            {{ cells.205 }}
        </td>
        <td>
            {{ cells.206 }}
        </td>
    </tr>
    
</table>

<table class="form">
    
    <tr>
        <td colspan="23"><div class="spacer"></div></td>
    </tr>
    
    <tr>
        <td colspan="23"><h3>Educasaun Saude Iha Facilidade Publico no Facilidade de Saude</h3></td>
    </tr>    
    
</table>

<table class="form border2">

    <tr class="border green center bold">
        <td rowspan="2">Naran Fatin</td>
        <td rowspan="2">Total Sessaun Hala'o</td>
        <td colspan="7">Edukasaun Saude Ema ba Ema</td>
        <td colspan="7">Edukasaun Saude Liu hosi IEC Material</td>
        <td colspan="7">Edukasaun Saude Liu hosi Media</td>
    </tr>

    <tr class="border green center bold small">
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
        <td>SMI</td>
        <td>Nut.</td>
        <td>CDC</td>
        <td>Non (CDC)</td>
        <td>SA</td>
        <td>Saude Oral</td>
        <td>Saude Mental</td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.207 }}
        </td>
        <td>
            {{ cells.208 }}
        </td>
        <td>
            {{ cells.209 }}
        </td>
        <td>
            {{ cells.210 }}
        </td>
        <td>
            {{ cells.211 }}
        </td>
        <td>
            {{ cells.212 }}
        </td>
        <td>
            {{ cells.213 }}
        </td>
        <td>
            {{ cells.214 }}
        </td>
        <td>
            {{ cells.215 }}
        </td>
        <td>
            {{ cells.216 }}
        </td>
        <td>
            {{ cells.217 }}
        </td>
        <td>
            {{ cells.218 }}
        </td>
        <td>
            {{ cells.219 }}
        </td>
        <td>
            {{ cells.220 }}
        </td>
        <td>
            {{ cells.221 }}
        </td>
        <td>
            {{ cells.222 }}
        </td>
        <td>
            {{ cells.223 }}
        </td>
        <td>
            {{ cells.224 }}
        </td>
        <td>
            {{ cells.225 }}
        </td>
        <td>
            {{ cells.226 }}
        </td>
        <td>
            {{ cells.227 }}
        </td>
        <td>
            {{ cells.228 }}
        </td>
        <td>
            {{ cells.229 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.230 }}
        </td>
        <td>
            {{ cells.231 }}
        </td>
        <td>
            {{ cells.232 }}
        </td>
        <td>
            {{ cells.233 }}
        </td>
        <td>
            {{ cells.234 }}
        </td>
        <td>
            {{ cells.235 }}
        </td>
        <td>
            {{ cells.236 }}
        </td>
        <td>
            {{ cells.237 }}
        </td>
        <td>
            {{ cells.238 }}
        </td>
        <td>
            {{ cells.239 }}
        </td>
        <td>
            {{ cells.240 }}
        </td>
        <td>
            {{ cells.241 }}
        </td>
        <td>
            {{ cells.242 }}
        </td>
        <td>
            {{ cells.243 }}
        </td>
        <td>
            {{ cells.244 }}
        </td>
        <td>
            {{ cells.245 }}
        </td>
        <td>
            {{ cells.246 }}
        </td>
        <td>
            {{ cells.247 }}
        </td>
        <td>
            {{ cells.248 }}
        </td>
        <td>
            {{ cells.249 }}
        </td>
        <td>
            {{ cells.250 }}
        </td>
        <td>
            {{ cells.251 }}
        </td>
        <td>
            {{ cells.252 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.253 }}
        </td>
        <td>
            {{ cells.254 }}
        </td>
        <td>
            {{ cells.255 }}
        </td>
        <td>
            {{ cells.256 }}
        </td>
        <td>
            {{ cells.257 }}
        </td>
        <td>
            {{ cells.258 }}
        </td>
        <td>
            {{ cells.259 }}
        </td>
        <td>
            {{ cells.260 }}
        </td>
        <td>
            {{ cells.261 }}
        </td>
        <td>
            {{ cells.262 }}
        </td>
        <td>
            {{ cells.263 }}
        </td>
        <td>
            {{ cells.264 }}
        </td>
        <td>
            {{ cells.265 }}
        </td>
        <td>
            {{ cells.266 }}
        </td>
        <td>
            {{ cells.267 }}
        </td>
        <td>
            {{ cells.268 }}
        </td>
        <td>
            {{ cells.269 }}
        </td>
        <td>
            {{ cells.270 }}
        </td>
        <td>
            {{ cells.271 }}
        </td>
        <td>
            {{ cells.272 }}
        </td>
        <td>
            {{ cells.273 }}
        </td>
        <td>
            {{ cells.274 }}
        </td>
        <td>
            {{ cells.275 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.276 }}
        </td>
        <td>
            {{ cells.277 }}
        </td>
        <td>
            {{ cells.278 }}
        </td>
        <td>
            {{ cells.279 }}
        </td>
        <td>
            {{ cells.280 }}
        </td>
        <td>
            {{ cells.281 }}
        </td>
        <td>
            {{ cells.282 }}
        </td>
        <td>
            {{ cells.283 }}
        </td>
        <td>
            {{ cells.284 }}
        </td>
        <td>
            {{ cells.285 }}
        </td>
        <td>
            {{ cells.286 }}
        </td>
        <td>
            {{ cells.287 }}
        </td>
        <td>
            {{ cells.288 }}
        </td>
        <td>
            {{ cells.289 }}
        </td>
        <td>
            {{ cells.290 }}
        </td>
        <td>
            {{ cells.291 }}
        </td>
        <td>
            {{ cells.292 }}
        </td>
        <td>
            {{ cells.293 }}
        </td>
        <td>
            {{ cells.294 }}
        </td>
        <td>
            {{ cells.295 }}
        </td>
        <td>
            {{ cells.296 }}
        </td>
        <td>
            {{ cells.297 }}
        </td>
        <td>
            {{ cells.298 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.299 }}
        </td>
        <td>
            {{ cells.300 }}
        </td>
        <td>
            {{ cells.301 }}
        </td>
        <td>
            {{ cells.302 }}
        </td>
        <td>
            {{ cells.303 }}
        </td>
        <td>
            {{ cells.304 }}
        </td>
        <td>
            {{ cells.305 }}
        </td>
        <td>
            {{ cells.306 }}
        </td>
        <td>
            {{ cells.307 }}
        </td>
        <td>
            {{ cells.308 }}
        </td>
        <td>
            {{ cells.309 }}
        </td>
        <td>
            {{ cells.310 }}
        </td>
        <td>
            {{ cells.311 }}
        </td>
        <td>
            {{ cells.312 }}
        </td>
        <td>
            {{ cells.313 }}
        </td>
        <td>
            {{ cells.314 }}
        </td>
        <td>
            {{ cells.315 }}
        </td>
        <td>
            {{ cells.316 }}
        </td>
        <td>
            {{ cells.317 }}
        </td>
        <td>
            {{ cells.318 }}
        </td>
        <td>
            {{ cells.319 }}
        </td>
        <td>
            {{ cells.320 }}
        </td>
        <td>
            {{ cells.321 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.322 }}
        </td>
        <td>
            {{ cells.323 }}
        </td>
        <td>
            {{ cells.324 }}
        </td>
        <td>
            {{ cells.325 }}
        </td>
        <td>
            {{ cells.326 }}
        </td>
        <td>
            {{ cells.327 }}
        </td>
        <td>
            {{ cells.328 }}
        </td>
        <td>
            {{ cells.329 }}
        </td>
        <td>
            {{ cells.330 }}
        </td>
        <td>
            {{ cells.331 }}
        </td>
        <td>
            {{ cells.332 }}
        </td>
        <td>
            {{ cells.333 }}
        </td>
        <td>
            {{ cells.334 }}
        </td>
        <td>
            {{ cells.335 }}
        </td>
        <td>
            {{ cells.336 }}
        </td>
        <td>
            {{ cells.337 }}
        </td>
        <td>
            {{ cells.338 }}
        </td>
        <td>
            {{ cells.339 }}
        </td>
        <td>
            {{ cells.340 }}
        </td>
        <td>
            {{ cells.341 }}
        </td>
        <td>
            {{ cells.342 }}
        </td>
        <td>
            {{ cells.343 }}
        </td>
        <td>
            {{ cells.344 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.345 }}
        </td>
        <td>
            {{ cells.346 }}
        </td>
        <td>
            {{ cells.347 }}
        </td>
        <td>
            {{ cells.348 }}
        </td>
        <td>
            {{ cells.349 }}
        </td>
        <td>
            {{ cells.350 }}
        </td>
        <td>
            {{ cells.351 }}
        </td>
        <td>
            {{ cells.352 }}
        </td>
        <td>
            {{ cells.353 }}
        </td>
        <td>
            {{ cells.354 }}
        </td>
        <td>
            {{ cells.355 }}
        </td>
        <td>
            {{ cells.356 }}
        </td>
        <td>
            {{ cells.357 }}
        </td>
        <td>
            {{ cells.358 }}
        </td>
        <td>
            {{ cells.359 }}
        </td>
        <td>
            {{ cells.360 }}
        </td>
        <td>
            {{ cells.361 }}
        </td>
        <td>
            {{ cells.362 }}
        </td>
        <td>
            {{ cells.363 }}
        </td>
        <td>
            {{ cells.364 }}
        </td>
        <td>
            {{ cells.365 }}
        </td>
        <td>
            {{ cells.366 }}
        </td>
        <td>
            {{ cells.367 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.368 }}
        </td>
        <td>
            {{ cells.369 }}
        </td>
        <td>
            {{ cells.370 }}
        </td>
        <td>
            {{ cells.371 }}
        </td>
        <td>
            {{ cells.372 }}
        </td>
        <td>
            {{ cells.373 }}
        </td>
        <td>
            {{ cells.374 }}
        </td>
        <td>
            {{ cells.375 }}
        </td>
        <td>
            {{ cells.376 }}
        </td>
        <td>
            {{ cells.377 }}
        </td>
        <td>
            {{ cells.378 }}
        </td>
        <td>
            {{ cells.379 }}
        </td>
        <td>
            {{ cells.380 }}
        </td>
        <td>
            {{ cells.381 }}
        </td>
        <td>
            {{ cells.382 }}
        </td>
        <td>
            {{ cells.383 }}
        </td>
        <td>
            {{ cells.384 }}
        </td>
        <td>
            {{ cells.385 }}
        </td>
        <td>
            {{ cells.386 }}
        </td>
        <td>
            {{ cells.387 }}
        </td>
        <td>
            {{ cells.388 }}
        </td>
        <td>
            {{ cells.389 }}
        </td>
        <td>
            {{ cells.390 }}
        </td>
    </tr>

    <tr class="border">
        <td>
            {{ cells.391 }}
        </td>
        <td>
            {{ cells.392 }}
        </td>
        <td>
            {{ cells.393 }}
        </td>
        <td>
            {{ cells.394 }}
        </td>
        <td>
            {{ cells.395 }}
        </td>
        <td>
            {{ cells.396 }}
        </td>
        <td>
            {{ cells.397 }}
        </td>
        <td>
            {{ cells.398 }}
        </td>
        <td>
            {{ cells.399 }}
        </td>
        <td>
            {{ cells.400 }}
        </td>
        <td>
            {{ cells.401 }}
        </td>
        <td>
            {{ cells.402 }}
        </td>
        <td>
            {{ cells.403 }}
        </td>
        <td>
            {{ cells.404 }}
        </td>
        <td>
            {{ cells.405 }}
        </td>
        <td>
            {{ cells.406 }}
        </td>
        <td>
            {{ cells.407 }}
        </td>
        <td>
            {{ cells.408 }}
        </td>
        <td>
            {{ cells.409 }}
        </td>
        <td>
            {{ cells.410 }}
        </td>
        <td>
            {{ cells.411 }}
        </td>
        <td>
            {{ cells.412 }}
        </td>
        <td>
            {{ cells.413 }}
        </td>
    </tr>
    
</table>

<table class="form">
    
    <tr>
        <td colspan="23"><div class="spacer"></div></td>
    </tr>

    <tr class="small">
        <td colspan="3" rowspan="3">Observasaun :</td>
        
        <td class="bold">SMI</td>
        <td colspan="8">: Saude Materno Infantil</td>
        <td colspan="2"></td>
        <td colspan="2" class="bold">Non CDC</td>
        <td colspan="10">; Servicos Controlo Moras nebe La Daet</td>
    </tr>

    <tr class="small">
        <td class="bold">Nut</td>
        <td colspan="8">: Nutrisaun</td>
        <td colspan="2"></td>
        <td colspan="2" class="bold">SA</td>
        <td colspan="10">: Saude Ambiental</td>
    </tr>

    <tr class="small">
        <td class="bold">CDC</td>
        <td colspan="8">: Servicos Controlo Doencas Contagiocas</td>
        <td colspan="15"></td>
    </tr>
</table>

{% endblock %}