{% extends "relatori/edit.html" %}
{% block edit_template %}


<table class="form">
    
    <tr>
        <td class="logo"><img src="/static/images/MoH.jpg" class="logo" /></td>
        <td><div class="spacer"></div></td>
        <td colspan="7" class="border2"><h1>REPÚBLICA DEMOCRÁTICA DE TIMOR-LESTE<br />MINISTÉRIO DA SAÚDE</h1></td>
        <td><div class="spacer"></div></td>
        <td colspan="4" class="border2"><h1>FORMULARIU-5</h1><br />
            Fulan:
            <input type="text" name="fulan" size="2" value="{{ fulan }}" class="{{ fulan_style }} ">
            Tinan:
            <input type="text" name="tinan" size="4" value="{{ tinan }}" class="{{ tinan_style }}">
        </td>
    </tr>
    
    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

    
<table class="form border2">
    
    <tr class="border">
        <td><b>Distritu:</b> {{ distritu }}
            <input type='hidden' name='district' value='{{ distritu }}'>
        </td>
        <td><b>Subdistritu:</b> {{ subdistritu }}
            <input type='hidden' name='subdistrict' value='{{ subdistritu }}'>
        </td>
        <td><b>Fatin:</b> {{ fatin }} 
            <input type='hidden' name='village' value='{{ fatin }}'>
        </td>
    </tr>

    <tr class="border">
        <td colspan="3"><b>Fasilidade:</b> {{ facility }} 
            <input type='hidden' name='name' value='{{ facility.id }}'> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Code:</b> {{ code }}
        </td>
    </tr>
    
</table>

<table class="form">

    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>

    <tr>
        <td colspan="14"><h2>SAUDE LABARIK / VACCINASAUN</h2></td>
    </tr>

    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

<table class="form border2">
    
    <tr class="border green center bold">
        <td colspan="6" rowspan="3">Vaccina nebe registrado ba labarik</td>
        <td colspan="8">Grupu Tinan</td>
    </tr>

    <tr class="border green center bold">
        <td colspan="4">&lt; tinan 1</td>
        <td colspan="4">Tinan 1 - 4</td>
    </tr>

    <tr class="border green center bold">
        <td colspan="2">M</td>
        <td colspan="2">F</td>
        <td colspan="2">M</td>
        <td colspan="2">F</td>
    </tr>

    <tr class="border">
        <td>1</td>
        <td colspan="5">BCG</td>
        <td colspan="2">
            <input type='text' name='cell.0' size=2 value='{{ cells.0 }}' class='{{ cell_styles.0 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.1' size=2 value='{{ cells.1 }}' class='{{ cell_styles.1 }}'>
        </td>
        <td colspan="2" class="off"></td>
        <td colspan="2" class="off"></td>
    </tr>

    <tr class="border">
        <td>2</td>
        <td colspan="5">DPT/<span class="small bold">Hep.B-1</span></td>
        <td colspan="2">
            <input type='text' name='cell.2' size=2 value='{{ cells.2 }}' class='{{ cell_styles.2 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.3' size=2 value='{{ cells.3 }}' class='{{ cell_styles.3 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.4' size=2 value='{{ cells.4 }}' class='{{ cell_styles.4 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.5' size=2 value='{{ cells.5 }}' class='{{ cell_styles.5 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>3</td>
        <td colspan="5">DPT/<span class="small bold">Hep.B-2</span></td>
        <td colspan="2">
            <input type='text' name='cell.6' size=2 value='{{ cells.6 }}' class='{{ cell_styles.6 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.7' size=2 value='{{ cells.7 }}' class='{{ cell_styles.7 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.8' size=2 value='{{ cells.8 }}' class='{{ cell_styles.8 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.9' size=2 value='{{ cells.9 }}' class='{{ cell_styles.9 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>4</td>
        <td colspan="5">DPT/<span class="small bold">Hep.B-3</span></td>
        <td colspan="2">
            <input type='text' name='cell.10' size=2 value='{{ cells.10 }}' class='{{ cell_styles.10 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.11' size=2 value='{{ cells.11 }}' class='{{ cell_styles.11 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.12' size=2 value='{{ cells.12 }}' class='{{ cell_styles.12 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.13' size=2 value='{{ cells.13 }}' class='{{ cell_styles.13 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>5</td>
        <td colspan="5">Polio<span class="small bold">-0 </span>
            <input type='hidden' name='cell.14' size=2 value='0' class='{{ cell_styles.14 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.15' size=2 value='{{ cells.15 }}' class='{{ cell_styles.15 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.16' size=2 value='{{ cells.16 }}' class='{{ cell_styles.16 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.17' size=2 value='{{ cells.17 }}' class='{{ cell_styles.17 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.18' size=2 value='{{ cells.18 }}' class='{{ cell_styles.18 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>6</td>
        <td colspan="5">Polio<span class="small bold">-1</span></td>
        <td colspan="2">
            <input type='text' name='cell.19' size=2 value='{{ cells.19 }}' class='{{ cell_styles.19 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.20' size=2 value='{{ cells.20 }}' class='{{ cell_styles.20 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.21' size=2 value='{{ cells.21 }}' class='{{ cell_styles.21 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.22' size=2 value='{{ cells.22 }}' class='{{ cell_styles.22 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>7</td>
        <td colspan="5">Polio<span class="small bold">-2</span></td>
        <td colspan="2">
            <input type='text' name='cell.23' size=2 value='{{ cells.23 }}' class='{{ cell_styles.23 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.24' size=2 value='{{ cells.24 }}' class='{{ cell_styles.24 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.25' size=2 value='{{ cells.25 }}' class='{{ cell_styles.25 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.26' size=2 value='{{ cells.26 }}' class='{{ cell_styles.26 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>8</td>
        <td colspan="5">Polio<span class="small bold">-3</span></td>
        <td colspan="2">
            <input type='text' name='cell.27' size=2 value='{{ cells.27 }}' class='{{ cell_styles.27 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.28' size=2 value='{{ cells.28 }}' class='{{ cell_styles.28 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.29' size=2 value='{{ cells.29 }}' class='{{ cell_styles.29 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.30' size=2 value='{{ cells.30 }}' class='{{ cell_styles.30 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>12</td>
        <td colspan="5">Sarampo</td>
        <td colspan="2">
            <input type='text' name='cell.31' size=2 value='{{ cells.31 }}' class='{{ cell_styles.31 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.32' size=2 value='{{ cells.32 }}' class='{{ cell_styles.32 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.33' size=2 value='{{ cells.33 }}' class='{{ cell_styles.33 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.34' size=2 value='{{ cells.34 }}' class='{{ cell_styles.34 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>13</td>
        <td colspan="5">Seluk</td>
        <td colspan="2">
            <input type='text' name='cell.35' size=2 value='{{ cells.35 }}' class='{{ cell_styles.35 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.36' size=2 value='{{ cells.36 }}' class='{{ cell_styles.36 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.37' size=2 value='{{ cells.37 }}' class='{{ cell_styles.37 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.38' size=2 value='{{ cells.38 }}' class='{{ cell_styles.38 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>14</td>
        <td colspan="5">Vaccin. Completo</td>
        <td colspan="2">
            <input type='text' name='cell.39' size=2 value='{{ cells.39 }}' class='{{ cell_styles.39 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.40' size=2 value='{{ cells.40 }}' class='{{ cell_styles.40 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.41' size=2 value='{{ cells.41 }}' class='{{ cell_styles.41 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.42' size=2 value='{{ cells.42 }}' class='{{ cell_styles.42 }}'>
        </td>
    </tr>
    
</table>

<table class="form">

    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>

    <tr>
        <td colspan="14"><h2>VACCINASAUN BA FETO HO IDADE PRODUCTIVA</h2></td>
    </tr>

    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

<table class="form border2">
    
    <tr class="border green center bold">
        <td colspan="4">Vaccina nebe registrado</td>
        <td colspan="5">Inan isin rua</td>
        <td colspan="5">Inan nebe laos isin rua</td>
    </tr>

    <tr class="border">
        <td>1</td>
        <td colspan="3">TT1</td>
        <td colspan="5">
            <input type='text' name='cell.43' size=2 value='{{ cells.43 }}' class='{{ cell_styles.43 }}'>
        </td>
        <td colspan="5">
            <input type='text' name='cell.44' size=2 value='{{ cells.44 }}' class='{{ cell_styles.44 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>2</td>
        <td colspan="3">TT2</td>
        <td colspan="5">
            <input type='text' name='cell.45' size=2 value='{{ cells.45 }}' class='{{ cell_styles.45 }}'>
        </td>
        <td colspan="5">
            <input type='text' name='cell.46' size=2 value='{{ cells.46 }}' class='{{ cell_styles.46 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>3</td>
        <td colspan="3">TT3</td>
        <td colspan="5">
            <input type='text' name='cell.47' size=2 value='{{ cells.47 }}' class='{{ cell_styles.47 }}'>
        </td>
        <td colspan="5">
            <input type='text' name='cell.48' size=2 value='{{ cells.48 }}' class='{{ cell_styles.48 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>4</td>
        <td colspan="3">TT4</td>
        <td colspan="5">
            <input type='text' name='cell.49' size=2 value='{{ cells.49 }}' class='{{ cell_styles.49 }}'>
        </td>
        <td colspan="5">
            <input type='text' name='cell.50' size=2 value='{{ cells.50 }}' class='{{ cell_styles.50 }}'>
        </td>
    </tr>

    <tr class="border">
        <td>5</td>
        <td colspan="3">TT5</td>
        <td colspan="5">
            <input type='text' name='cell.51' size=2 value='{{ cells.51 }}' class='{{ cell_styles.51 }}'>
        </td>
        <td colspan="5">
            <input type='text' name='cell.52' size=2 value='{{ cells.52 }}' class='{{ cell_styles.52 }}'>
        </td>
    </tr>
    
</table>

<table class="form">
    
    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

<table class="form border2">
    
    <tr class="border green center bold">
        <td colspan="4" rowspan="2">Total vaccina nebe Usa (Vials)</td>
        <td colspan="2">BCG</td>
        <td colspan="2">DTP</td>
        <td colspan="2">Sarampo</td>
        <td colspan="2">Polio</td>
        <td colspan="2">TT</td>
    </tr>

    <tr class="border">
        <td colspan="2">
            <input type='text' name='cell.53' size=2 value='{{ cells.53 }}' class='{{ cell_styles.53 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.54' size=2 value='{{ cells.54 }}' class='{{ cell_styles.54 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.55' size=2 value='{{ cells.55 }}' class='{{ cell_styles.55 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.56' size=2 value='{{ cells.56 }}' class='{{ cell_styles.56 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.57' size=2 value='{{ cells.57 }}' class='{{ cell_styles.57 }}'>
        </td>
    </tr>
    
</table>

<table class="form">
    
    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>
    
</table>

<table class="form border2">
    
    <tr class="border green center bold">
        <td colspan="4" rowspan="2">Total vaccina <br /><span class="small bold">nebe at (VVM at,ect) / expiry (Vials)</span></td>
        <td colspan="2">BCG</td>
        <td colspan="2">DTP</td>
        <td colspan="2">Sarampo</td>
        <td colspan="2">Polio</td>
        <td colspan="2">TT</td>
    </tr>

    <tr class="border">
        <td colspan="2">
            <input type='text' name='cell.58' size=2 value='{{ cells.58 }}' class='{{ cell_styles.58 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.59' size=2 value='{{ cells.59 }}' class='{{ cell_styles.59 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.60' size=2 value='{{ cells.60 }}' class='{{ cell_styles.60 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.61' size=2 value='{{ cells.61 }}' class='{{ cell_styles.61 }}'>
        </td>
        <td colspan="2">
            <input type='text' name='cell.62' size=2 value='{{ cells.62 }}' class='{{ cell_styles.62 }}'>
        </td>
    </tr>
    
</table>

<table class="form">
    
    <tr>
        <td colspan="14"><div class="spacer"></div></td>
    </tr>

    <tr>
        <td colspan="14">Nota :</td>
    </tr>

    <tr>
        <td colspan="14" class="small">Vacina kompleto signifika katak Labarik sira simu ona vacina hotu hahu hosi Vacina BCG no remata ho vacina Sarampu.</td>
    </tr>

</table>

{% endblock %}